/* ------------------------------------------------
    Knapper 
   ------------------------------------------------ */

.button.outline {
  background-color: transparent;
  color: var(--color-brown);
  border: 1px solid var(--color-brown);
}

.ar-button{
  display: flex;
  border-radius: 1.5em;
  width: 3rem;
  height: 3rem;
  line-height: 2.85rem;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(90,83,52,0.5);
  padding: unset !important;

  &.ar-btn-pluss{
      background-color: rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(0.25rem);
      font-size: 2rem;
      font-weight: 300;
  }
}  

button.ar-toggle-button {
  background-color: transparent;
  border: 1px solid var(--color-brown);
  color: var(--color-brown);
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
}
button.ar-toggle-button:hover{
   background-color:  var(--color-brown);
   color: #fff;
}

section.ar-longform{
    margin-left: auto;
    margin-right: auto;
    > div{
      max-width: 40ch;
      padding-top: 1rem;
      padding-bottom: 2rem;
      line-height: 1.7;
        
    }
}