/* ------------------------------------------------
    Knapper 
   ------------------------------------------------ */

button.more-button,
button.more-button:hover {
  pointer-events: none;
  background-color: unset;
  border: 1px solid var(--color-brown);
  color: var(--color-brown);
  border-radius: 1.5rem;
  padding: 0.25rem 0.75rem;
}

.button.outline {
  background-color: transparent;
  color: var(--color-brown);
  border: 1px solid var(--color-brown);
}