/* Acceleroot Shopify assets */

/* Custom sections */
.section--infobox{
    details{
        margin-left:auto;
        margin-right: auto;
        border: 1px solid #000;
        border-radius: 0.25rem;
        position: relative;

        summary{
            padding: 1rem;

            &::after{
                position: absolute;
                right: 1rem;
                top: 1rem;
                width: 2.5rem;
                height: 3.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.5rem;
                content: '↓';

            }
        }

        > div{
            padding: 0 1rem 1rem;

            p{
                margin-top:0;
            }
        }

        &[open]{
             summary::after{
                content: '↑';
            }
        }
       
    }
}